USE_LOCAL_DEFAULT="TRUE"

# This is not needed when USE_LOCAL_DEFAULT is "TRUE"
CLIENT_URL="https://bombay-lcd.terra.dev/"
CHAIN_ID="bombay-12"

# Leave empty if you do not wish to initialize a LocalTerra server
LOCALTERRA_PATH="<path>"

SCRIPTS_PATH="../scripts"
ARTIFACTS_PATH="../artifacts"
